
:root {
    --font-size: 80% !important;
}

html {
    font-size: var(--font-size) !important;
    font-family: "Onest", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale; 
    font-smooth: always !important;
}


/* Hides supertags */
[tabindex="\30 "] button {
    display: none !important;
}


.NodeAsListElement-module_sectionHeading__Utf6w [data-role="editable"], .NodePanelHeaderTitle-module_heading__8Pz-O {
  font-family: "Euclid Circular A" !important;
  color: rgb(33, 37, 41) !important;
}

.tw-flex-col .tw-inline-flex .searchnode [placeholder="Untitled"] {
    font-size: 1.2em !important;
    font-weight: 600 !important;
    text-transform: lowercase !important;
}

div[class*="WidgetPanel-module_container"]:has(
  div[class*="Message-module_subtle"][class*="Message-module_smaller"]
) {
  display: none !important !important;
}

 .listContentItem:has(span[data-tag="task/done"]) span {
     color: var(--colorGray350) !important !important;
     text-decoration: line-through !important !important;
 }


