:root {
    --font-size: 80%;
}

html {
    font-size: var(--font-size);
    font-family: "Bear Sans UI", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-smooth: always;
}

.NodeAsListElement-module_sectionHeading__Utf6w [data-role="editable"], .NodePanelHeaderTitle-module_heading__8Pz-O {
  font-family: "Euclid Circular A";
  color: rgb(33, 37, 41);
}

.tw-flex-col .tw-inline-flex .searchnode [placeholder="Untitled"] {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: lowercase;
}

div[class*="WidgetPanel-module_container"]:has(div[class*="Message-module_subtle"][class*="Message-module_smaller"]) {
  display: none !important;
}

 .listContentItem:has(span[data-tag="task/done"]) span {
     color: var(--colorGray350) !important;
     text-decoration: line-through !important;
 }
